.header {
  border: 1px solid black;
  width: 100vw;
  height: 10vh;
  text-align: center;
  padding: 0;
}

.leftside {
  border: 1px solid black;
  width: 20%;
  height: 80vh;
}

.middle {
  border: 1px solid black;
  width: 60%;
  height: 80vh;
}

.rightside {
  border: 1px solid black;
  width: 20%;
  height: 80vh;
}

.footer {
  border: 1px solid black;
  width: 100vw;
  height: 10vh;
  padding: 0;
}

.fsbutton {
  margin-top: 3vh;
}

.newGamePar {
  margin-top: 10px;
  text-align: center;
  font-size: xx-large;
}

.leftside>p {
  font-size: larger;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.box1,
.box2,
.box3,
.box4 {
  border: 4px double black;
  width: 20vw;
  height: 30vh;
  transition: all .8s ease-in-out;
}

.row {
  margin: auto;
}

.box1 {
  margin-left: 10vw;
  background-color: blue;
  border-top-left-radius: 50%;
  float: left;
}

.box2 {
  background-color: red;
  border-top-right-radius: 50%;
  clear: right;
}

.box3 {
  background-color: #00d80d;
  border-bottom-left-radius: 50%;
  margin-left: 10vw;
}

.box4 {
  background-color: #fffa00;
  border-bottom-right-radius: 50%;

}

.box1:hover {
  background: radial-gradient(#dbe3ff, #7a97ff, #0037ff);
}

.box2:hover {
  background: radial-gradient(#ffdddd, #ed6f6f, #ff0000);
}

.box3:hover {
  background: radial-gradient(#e0ffe2, #75ff7d, #00d80d);
}

.box4:hover {
  background: radial-gradient(#fffeef, #efe87a, #fffa00);
}

.footer {
  background-color: blue;
}

.container-fluid {
  padding: 0;
}