html,
body {
  background-color: black;
  height: 100%;
  overflow: hidden;
}

.heading {
  width: 100vw;
  height: 8vh;
  min-height: 70px;
  background-color: blue;
  border-bottom: 1px solid white;
}

#quickBar {
  position: absolute;
  width: 100vw;
  height: 8vh;
  min-height: 70px;
  background-color: black;
  z-index: 20;
  display:flex;
  top:-70px;
}

#quickBar p {
  color: white;
  margin: auto;
}

.bottom-panel {
  margin-top: 25px;
  border-top: 1px solid white;
  padding-top: 3px;
  width: 100vw;
  height: 23vh;
  color: white;
  text-align: center;
}

p>span {
  color: red;
}

.main {
  width: 100vw;
  height: auto;
  background-color: black;
}

.active:hover {
  background-color: red;
  cursor: pointer;
}

.active {
  transition: all .4s ease-in-out;
}

.top-row {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.middle-row,
.bottom-row {
  display: flex;
  justify-content: center;
}

h3 {
  margin-top: 1vh;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.t1 {
  font-family: 'Permanent Marker', cursive;
}

.t2 {
  margin-left: 25px;
  font-family: 'Nanum Brush Script', cursive;
  font-weight: bold;
  font-size: x-large;
}

h6 {
  color: white;
  font-family: 'Caveat', cursive;

  text-align: center;
}

.pad {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px;
}

.menu {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  color: white;
  text-align: center;
  font-size: small;
  display: flex;
  box-shadow: 10px 10px 45px -4px grey;
}

.menu p {
  margin: auto;
  text-shadow: 0 0 42px gold;
}

.red {
  border: 3px solid red;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px 1px red;
}

.blue {
  border: 3px solid blue;
  display: none;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px -4px blue;
}

.green {
  border: 3px solid green;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px 3px green;
}

.yellow {
  border: 3px solid yellow;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px -4px yellow;
}

.white {
  border: 3px solid white;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px -4px white;
}

.purple {
  border: 3px solid purple;
  display: none;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px 2px purple;
}

.fill {
  background-color: white;
}

.bottom-panel>p {
  margin-bottom: 0;
  font-size: small;
  display: inline-block;
}

.settings {
  position: absolute;
  color: white;
  top: 165px;
  right: 0;
  background-color: green;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: all .5s ease-in-out;
  box-shadow: 10px 10px 45px -4px green;
}

.settings:hover {
  background-color: darkgreen;
  border-left: 1px solid white;
  cursor: pointer;
}

.settings p {
  margin: 2px;
  padding-left: 5px;
}

.top10 {
  position: absolute;
  color: white;
  top: 200px;
  right: 0;
  background-color: blue;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: all .5s ease-in-out;
  box-shadow: 10px 10px 45px -4px blue;
}

.top10 p {
  margin: 2px;
  padding-left: 3px;
}

.top10:hover {
  background-color: darkblue;
  border-left: 1px solid white;
  cursor: pointer;
}

.fullscreen {
  position: absolute;
  color: white;
  top: 130px;
  right: 0;
  background-color: red;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: all .5s ease-in-out;
  box-shadow: 10px 10px 45px -4px red;
}

#soundButton {
  position: fixed;
  color: white;
  height: 13px;
  top: 2px;
  right: 4px;
  transition: all .5s ease-in-out;
  font-size: xx-small;
  z-index: 11;
}

#soundButton p {
  float: left;
}

#soundButton:hover {
  color: gold;
  cursor: pointer;
}

#nosound {
  position: absolute;
  color: white;
  top: 3px;
  right: 12px;
  transition: all .5s ease-in-out;
  font-size: 0.8em;
  visibility: hidden;
}

.fullscreen p {
  margin: 2px;
  padding-left: 5px;
  margin-right: 5px;
}

.fullscreen:hover {
  background-color: darkred;
  border-left: 1px solid white;
  cursor: pointer;
}

.settingsCard {
  position: fixed;
  width: 100vw;
  height: 8vh;
  min-height: 70px;
  background-color: #484a4c;
  top: 0px;
  opacity: 0;
  border-bottom: 1px solid white;
  display: flex;
  z-index: -10;
}

#top10Card {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background-color: #484a4c;
  opacity: 0;
  z-index: -100;
  display: flex;
}

.scoreTable {
  margin: auto;
  color: white;
}

.scoreTable p {
  margin: 0;
}

.gameInfo {
  position: absolute;
  font-size: xx-small;
  margin: 0;
  padding: 3px;
  color: white;
  display: block;
}

.gameInfo p {
  margin-left: 6px;
  margin-bottom: 2px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: medium;
}

.button {
  margin: auto;
}

#rndPatternButton {
  background-color: red;
  border: 1px solid black;
  color: black;
  border-radius: 10%;
  padding: 5px;
  font-size: xx-small;
  transition: all .5s ease-in-out;
}

#rndPatternButton:hover {
  background-color: orange;
  cursor: pointer;
  box-shadow: 7px 7px black;
}

#db {
  background-color: blue;
  border: 1px solid black;
  color: black;
  border-radius: 10%;
  padding: 5px;
  font-size: xx-small;
  transition: all .5s ease-in-out;
}

#db:hover {
  background-color: lightblue;
  cursor: pointer;
  box-shadow: 7px 7px black;
}

.settingsCard p {
  color: white;
  margin: auto;
}

.smallText {
  padding-top: 30px;
  font-size: .5em;
}

.loadingScreen {
  width: 100vw;
  height: 100vh;
  background-color: #43464c;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  z-index: 120;
}

.loadingScreen p {
  margin: auto;
  color: white;
}
