html,
body {
  background-color: black;
  height: 100%;
  overflow: hidden;
}

/* switch off scrolling */

.heading {
  width: 100vw;
  height: 16vw;
  background-color: blue;
  border-bottom: 1px solid white;
}

#quickBar {
  position: absolute;
  width: 100vw;
  height: 16vw;
  background-color: black;
  z-index: 20;
  display: flex;
  top: -16vw;
}

#quickBar p {
  color: white;
  margin: auto;
  font-size: 8vw;
  font-family: 'Nanum Brush Script';
}

.bottom-panel {
  margin-top: 25px;
  border-top: 1px solid white;
  padding-top: 3px;
  width: 100vw;
  height: 23vh;
  color: white;
  text-align: center;
}

p>span {
  color: red;
}

.main {
  width: 100vw;
  height: auto;
  background-color: black;
}

.active:hover {
  background-color: red;
  cursor: pointer;
}

.active {
  transition: all .4s ease-in-out;
}

.top-row {
  margin-top: 1vw;
  display: flex;
  justify-content: center;
}

.middle-row,
.bottom-row {
  display: flex;
  justify-content: center;
}

h3 {
  margin-top: 0;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.t1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 8vw;
}

.t1:hover {
  color: #ff001d;
  text-shadow: 3px 3px 5px black;
  cursor: pointer;
}

.t2 {
  margin-left: 25px;
  font-family: 'Nanum Brush Script', cursive;
  font-weight: bold;
  font-size: 8vw;
}

h6 {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 4.5vw;

  text-align: center;
}

.pad {
  min-width: 50px;
  min-height: 50px;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  margin: 15px;
  background-color: black;
}

.middleCircle {
  min-width: 80px;
  min-height: 80px;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: 3px solid white;
  color: white;
  text-align: center;
  font-size: 2vw;
  display: flex;
  box-shadow: 10px 10px 45px -4px grey;
  background-color: black;
}

.middleCircle p {
  margin: auto;
  text-shadow: 0 0 42px gold;
}

.red {
  border: 3px solid red;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px 1px red;
}

.blue {
  border: 3px solid blue;
  display: none;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px -4px blue;
}

.green {
  border: 3px solid green;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px 3px green;
}

.yellow {
  border: 3px solid yellow;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px -4px yellow;
}

.white {
  border: 3px solid white;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px -4px white;
}

.purple {
  border: 3px solid purple;
  display: none;
  transition: all .3s ease-in-out;
  box-shadow: 10px 10px 45px 2px purple;
}

.fill {
  background-color: white;
}

.bottom-panel>p {
  margin-bottom: 0;
  font-size: small;
  display: inline-block;
}



/************************************   Side Buttons     **********************/

.settings {
  position: absolute;
  color: white;
  top: 43vw;
  right: 0;
  background-color: green;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: all .5s ease-in-out;
  box-shadow: 10px 10px 45px -4px green;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}





.settings:hover {
  background-color: darkgreen;
  border-left: 1px solid white;
  cursor: pointer;
}

.settings p {
  margin: 2px;
  padding-left: 1vw;
  font-size: 5vw;
  display: flex;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.fullscreen {
  position: absolute;
  color: white;
  top: 21vw;
  right: 0;
  background-color: red;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: all .5s ease-in-out;
  box-shadow: 10px 10px 45px -4px red;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.fullscreen p {
  margin: 2px;
  padding-left: 1vw;
  margin-right: 5px;
  font-size: 5vw;
  display: flex;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.fullscreen:hover {
  background-color: darkred;
  border-left: 1px solid white;
  cursor: pointer;
}

.soundBut {
  position: absolute;
  color: white;
  top: 32vw;
  right: 0;
  background-color: blue;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: all .5s ease-in-out;
  box-shadow: 10px 10px 45px -4px blue;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.soundBut p {
  margin: 2px;
  padding-left: 1vw;
  margin-right: 5px;
  font-size: 5vw;
  display: flex;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 1.7vw;
  width: 5.8vw;
}

.soundBut:hover {
  background-color: darkblue;
  border-left: 1px solid white;
  cursor: pointer;
}

.settingsCard {
  position: fixed;
  width: 100vw;
  height: 16vw;
  background-color: #484a4c;
  top: 0px;
  opacity: 0;
  border-bottom: 1px solid white;
  display: flex;
  z-index: -10;
}

.gameInfo {
  position: absolute;
  font-size: xx-small;
  margin: 0;
  padding: 2px;
  color: white;
  display: block;
}

.gameInfo p {
  margin-left: 6px;
  margin-bottom: 2px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 2.5vw;
}

.button {
  margin: auto;
}

#rndPatternButton {
  background-color: red;
  border: 1px solid black;
  color: black;
  border-radius: 10%;
  padding: 5px;
  font-size: 4vw;
  font-family: 'Nanum Brush Script', cursive;
  transition: all .5s ease-in-out;
}


#rndPatternButton:hover {
  background-color: orange;
  cursor: pointer;
  box-shadow: 7px 7px black;
}

#db {
  background-color: blue;
  border: 1px solid black;
  color: black;
  border-radius: 10%;
  padding: 5px;
  font-size: 3vw;
  font-family: 'Permanent Marker';
  padding-left: 15px;
  padding-right: 15px;
  transition: all .5s ease-in-out;

}

#settingsLabel {
  font-family: 'Caveat', cursive;
  font-size: 3vw;
}

#db:hover {
  background-color: lightblue;
  cursor: pointer;
  box-shadow: 7px 7px black;
}

.settingsCard p {
  color: white;
  margin: auto;
}

.smallText {
  padding-top: 30px;
  font-size: .5em;
}

.loadingScreen {
  width: 100vw;
  height: 100vh;
  background-color: #43464c;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  z-index: 120;
}

.loadingScreen p {
  margin: auto;
  color: white;
  font-size: 6vw;
}
/*
@media(max-width:700px) {
  .middleCircle {
    min-width: 80px;
    min-height: 80px;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-size: 14px;
    display: flex;
    box-shadow: 10px 10px 45px -4px grey;
  }
}
*/